.popup {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;

    display: flex;
    align-items: center;

    padding: 10px;

    z-index: 100;

    opacity: 0;

    &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        min-height: 100%;

        z-index: 2;
    }
    &-bg {
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        background: black;

        opacity: .7;

    }
    &-body {
        margin: auto;
        position: relative;
        background: var(--dark-2);
        
        max-height: calc(var(--height-screen, 100vh) - 30px);
        max-width: 585px;
        width: 100%;

        padding: 15px;
        @include _426 {
            padding: 30px;
        }
        border-radius: 14px;

        z-index: 2;
    }
    &-overflow {
        overflow-y: auto;

    }
    &-close-btn {
        position: absolute;
        right: 10px; top: 10px;
        width: 40px; height: 40px;
        z-index: 2;

        @include _426 {
            right: 23px; top: 23px;
        }

        display: flex;
        align-items: center;
        justify-content: center;
      
        & svg {
          width: 50%;
        }

        background: transparent;
    }
}

.our-ip {

    // .our-ip__wrapper

    &__wrapper {
    }

    // .our-ip__bg

    &__bg {
    }

    // .our-ip__body

    &__body {
    }

    // .our-ip__close-btn

    &__close-btn {
    }

    // .our-ip__overflow

    &__overflow {
    }

    // .our-ip__title

    &__title {
        padding-top: 30px;
    }

    // .our-ip__form

    &__form {

        padding-top: 30px; 
        @include _426 {
            padding-bottom: 15px;
        }

        display: grid;
        & > * {
            grid-area: 1/1;
        }

        // .our-ip__form--label

        &--label {
        }

        // .our-ip__form--input

        &--input {
            padding-right: 80px;
        }

        // .our-ip__form--copy

        &--copy {
            justify-self: end;

            padding: 0 25px;

            background: transparent;
        }
    }
}

